    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    }

    html {
 
        background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(93, 32, 161, 0.4)), url(images/abstract-architecture-blur-business-409480.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Crimson Text', serif;

   
    }
    
    main.wrapper {
        background-color:rgba(255, 255, 255, .8);
        overflow:auto;

        
    }

    header {
        background-color:rgba(255, 255, 255, .8);
    }
    
    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 3em;
        font-weight: 100;
        
    }

    h1 a {
        text-decoration: none;
        color:#000;
    }

    h2 {
        margin-left: 20px;
        font-size: 2em;
        font-weight: 100;

    }
 
    section .bio {
        margin-top: 20px;

    }

    
    .logo {
        color:black;
        margin-left:1%;
        text-shadow:1px 1px #ccc;
        font-size:1.25em;
        font-weight: 100;
    }
    
    /* Embed Responsively Rules! */
    div.embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        margin: auto;
        max-width: 98%;
    } 
    
    div.embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    footer {
        clear:both;
        
    }

    footer p{
        margin-left: 20px;

    }





/********************************************** START RESPONSIVE STYLES ***********************************************************/

/* DESKTOP */
@media all and (min-width:1400px) {
	
    main.wrapper {
         width:80%;
         margin:auto;
     }
 
     section {
         width:65%;
         float:left;
     }
     
      aside {	
         width:34%;
         float:right;
         margin-top: 52px;

     }
             
     img.desktop {
         float:left;
         width:50%;
         display:inline-block;
         margin: 20px 20px;
     }
     
     img.tablet, img.phone {
            display:none;
         }  
     
     /* Change background color of navigation on selected page */
     ul.topnav li a.selected {
            background-color: #0476d9;
            color:#000;
         }
 }
 
 
 /* TABLET */
 @media all and (min-width:737px) and (max-width:1399px) {
     
     section {
        width:60%;
        float:left;
     }
     
     aside {	
         width:39%;
         float:right;
     }
     
     img.tablet {
        width:100%;
        display:inline-block;
     }
     
     img.desktop, img.phone {
            display:none;
            
         }  
     
     
     /* Change background color of navigation on selected page */
     ul.topnav li a.selected {
         background-color: #ccc;
         color:#000;
     }
 }
 
 /* PHONE */
 @media all and (max-width:736px) {
     
     img.phone {
                width:100%;
             display:inline-block;
     }
     
     img.tablet, img.desktop {
            display:none;
         }  
 
 }
 
     
